* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #252A34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #EAEAEA;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}